.filter {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 0.5em;
}
@media screen and (max-width: 500px) {
	.filter {
		grid-template-columns: 1fr 1fr;
		gap: 0.5em;
	}
}
.filter input {
	position: absolute;
	visibility: hidden;
}
.filter div {
	background-color: var(--second-color);
	padding: 0.8em;
	border-radius: 1em;
	text-align: center;
	user-select: none;
	cursor: pointer;
	font-size: 1.1rem;
}
.filter input:hover ~ div {
	filter: brightness(0.9);
}
.filter input:checked ~ div {
	-webkit-box-shadow: inset 0px 0px 8px -3px #000000, inset 3px -3px 8px -5px #000000;
	box-shadow: inset 0px 0px 8px -3px #000000, inset 3px -3px 8px -5px #000000;
}

p {
	margin-top: 0;
	margin-bottom: 0.2em;
}
.description p {
	margin-bottom: 0.4em;
}
p:last-child {
	margin-bottom: 0;
}

.head {
	display: grid;
	grid-template-columns: 15em 1fr;
	gap: 1.5em;
}
@media screen and (max-width: 600px) {
	.head {
		grid-template-columns: 1fr;
	}
}
.head-img {
	display: flex;
	justify-content: center;
	height: 100%;
}
.head-img img {
	width: 100%;
	max-height: 15em;
	object-fit: cover;
	border-radius: 0.5em;
}
.head-text {
	display: flex;
	flex-direction: column;
	min-width: 12em;
	flex-grow: 10;
}
.head-title {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0.3em;
	align-items: center;
	justify-content: space-between;
	gap: 0.2em;
}
.head-title h1 {
	font-size: 1.8rem;
	margin: 0;
}
.head-title h2 {
	font-size: 1.2rem;
	margin: 0;
	margin-left: auto;
}
.head-description {
	font-size: 1.1rem;
}
.tags {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0.4em;
	gap: 0.5em;
}
.tags > * {
	padding: 0.4em;
	background-color: var(--second-color);
	border-radius: 0.6em;
}
.head-footer {
	margin-top: auto;
	display: flex;
}
.separator {
	flex-grow: 1;
}
.icon {
	width: 2em;
	margin-left: 0.6em;
}
.open-description-inp {
	position: absolute;
	visibility: hidden;
}
.open-description {
	display: flex;
	align-items: center;
	font-size: 1.2rem;
	cursor: pointer;
	user-select: none;
	padding-right: 2em;
}
.open-description span {
	position: relative;
}
.open-description span::before {
	content: "";
	position: absolute;
	top: 0.05em;
	right: -1em;
	width: 0.5em;
	height: 0.5em;
	border: solid currentColor 0.15em;
	border-left: none;
	border-bottom: none;
	border-top-right-radius: 0.2em;
	transition: translate, rotate;
	transition-duration: 0.15s;
	translate: 0 50%;
	rotate: 45deg;
}
.open-description:hover span::before {
	translate: 0.3em 50%;
}
.open-description-inp:checked ~ * .open-description span::before {
	translate: 0.3em 50%;
	rotate: 135deg;
}
.description {
	padding-top: 1em;
	display: none;
	font-size: 1.1rem;
}
.open-description-inp:checked ~ .description,
.description-open {
	display: block;
}

.side-img {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.5em;
	margin-bottom: 1em;
}
@media screen and (max-width: 600px) {
	.side-img {
		grid-template-columns: 1fr;
	}
}
.side-img img {
	width: 100%;
	border-radius: 0.5em;
	margin: auto;
	max-width: fit-content;
}
.side-img div {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.cards-img {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}
.card-img {
	display: flex;
	flex-direction: column;
	background-color: var(--second-color);
	padding: 1em;
	border-radius: 1em;
	text-align: center;
	flex-basis: 40%;
	flex-grow: 1;
	flex-shrink: 1;
	margin: 0;
}
.card-img img {
	width: 100%;
	border-radius: 0.5em;
	margin-bottom: 0.5em;
}
.line-img {
	text-align: center;
}
.line-img img {
	width: 100%;
	border-radius: 0.25em;
	max-width: fit-content;
}

h1 {
	position: relative;
}
h1 a {
	position: absolute;
	left: -1.7em;
	top: -25%;
	width: 1.8em;
	height: 150%;
	border-radius: 0.3em;
	background-image: url(../imgs/link-dark.svg);
	background-size: 55%;
	background-position: 70%;
	background-repeat: no-repeat;
	scale: 0;
	transition-property: scale;
	transition-duration: 0.1s;
	transform-origin: right;
	pointer-events: none;
	filter: drop-shadow(0px 0px 3px black);
}
.darkTheme h1 a {
	background-image: url(../imgs/link-light.svg);
}
h1:hover a {
	pointer-events: all;
	scale: 1;
}